@model IEnumerable<WebAPI.Models.Userpassword>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PasswordOld)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PasswordNew)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PasswordDateChanged)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PasswordOld)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PasswordNew)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PasswordDateChanged)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserEmail)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PasswordId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PasswordId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PasswordId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
